repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: check-json
          - id: check-added-large-files
          - id: detect-private-key
          - id: double-quote-string-fixer
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.9.1
      hooks:
          - id: commitizen
            stages: [pre-push]
